<h1>Calculator Using Angular & TypeScript</h1>

<br />
<div>
    <div class="row">
        <div class="col-sm-4">
            <label>First Number</label>
        </div>
        <div class="col-sm-4">
            <input type="number" [(ngModel)]="firstNumber" placeholder="Enter First Number" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Second Number</label>
        </div>
        <div class="col-sm-4">
            <input type="number" [(ngModel)]="secondNumber" placeholder="Enter Second Number" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Result:</label>
        </div>
        <div class="col-sm-4">
            <input type="number" [value]="result" placeholder="Result"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" (click)="add()">Add</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" (click)="sub()">Sub</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" (click)="mul()">Mul</button>
        </div>
    </div>
</div>
