<table>
    <tr>
        <td>Name</td>
        <td>{{getFullName()}}</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{lastName}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{gender}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{age}}</td>
    </tr>
</table>

<img src="{{webPage}}" />
<img [src]="webPage" />

<!-- POI: Property binding -->
<button [disabled]="isButtonDisabled">Click Me !</button>

<!-- POI: 'bind-property-name' is the canonical form of using property binding using square bracket -->
<button bind-disabled="isButtonDisabled">Click Me 0.3</button>

<button disabled="isButtonDisabled">Click Me ! 0.1</button>

<!-- POI: This doesn't work properly because when dealing with non-string values we must use property binding rather than string interpolation -->
<button disabled="{{isButtonDisabled}}">Click Me 2 !</button>

<!-- POI: Selectively apply/disapply a class -->
<!-- POI: Negating a class's application -->
<!-- POI: The class binding is negating 'make-bold' class which means the class will not be added & if it were added from earlier that will be removed too -->

<table class="make-bold" [class.make-bold]="!isBold">

    <!-- POI: [ngClass] helps to apply multiple classes with conditional statement-->

    <tr [ngClass]="applyMultipleCls()">
        <th>Month</th>
        <th>Savings</th>
    </tr>
    <tr>
        <td>January</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>February</td>
        <td>$80</td>
    </tr>
    <tr>
        <!-- POI: Column Span is not a property but an HTML attribute. To bind a variable with an HTML 'attribute' we need the 'attr.' prefix -->
        <td [attr.colspan]="tableColSpan">Sum: $180</td>
    </tr>
</table>

<!-- POI: [class] property binding replacing existing classes with the defined one -->
<button class="weird-font-family" [class]='aquaClass'>My Button!</button>